# Build output
build/
build*/

# IDE
*.sln
*.vcxproj*
*.user


# ImGui
imgui.ini

# Runtime local data
*.db
recent_dbs.txt
ui_settings.ini

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled files
*.pdb
*.ilk
*.exp
*.obj
*.lib
*.exe
*.dll
*.so
*.a
*.o

# OS
.DS_Store
Thumbs.db
